<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Learning MEAN Stack</h1>
    </div>

    <div class = "row">
        <form action="/user/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="fileupload" id="fileupload" /><br/>

            <input type="submit" value="Upload">

        </form>

    </div>
</div>
</body>
</html>